[Desktop Entry]
Version=1.0
Type=Application
Name=ssh to work pc
GenericName=Terminal emulator
Comment=via prefered terminal
Exec=exo-open --launch TerminalEmulator ssh stefan@10.0.0.124
Icon=utilities-terminal
Categories=System;TerminalEmulator;
